.darkBG,
.lightBG {
  width: 100vw;
}
.darkBG {
  background: #f1f2f3;
  background-size: 800% 800%;
  color: #121829;
}
.lightBG {
  background: #f1f2f3;
  background-size: 600% 600%;
  color: #4f3d3f;
}
