<template>
  <div class="lightBG">
    <!-- Circles Particles -->
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="main">
      <h1 class="quotes quotes-main">{{ stories[currentPage] }}</h1>
      <v-btn
        class="entire-button"
        text
        :to="currentPage == stories.length - 1 ? '/lovyu' : '#'"
        @click="currentPage == 25 ? '' : currentPage++"
      ></v-btn>
    </div>
  </div>
</template>

<script>
import stories from '~/assets/stories.js'
export default {
  data() {
    return {
      stories,
      currentPage: 0,
    }
  },
}
</script>

<style lang="scss">
@import '~/assets/css/background.scss';
@import '~/assets/css/main.scss';

.entire-button {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
  vertical-align: bottom !important;
  position: absolute !important;
  background: transparent !important;
}
</style>
