<template>
  <!-- Background -->
  <div :class="darkMode() ? 'darkBG' : 'lightBG'">
    <!-- Circles Particles -->
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- Main -->
    <div class="main">
      <!--
        Typing characters (greeting & nickname)
        Documentation : https://github.com/Orlandster/vue-typed-js/
      -->
      <!-- prettier-ignore -->
      <vue-typed-js
        class="vue-typed"
        :show-cursor="false"
        :loop="true"
        :strings="[greetings() + ', ' + nicknames + '! ^5000', 'I always wanted to tell you... ^2500', 'Nevermind! >///<']"
        :back-delay="500"
        :type-speed="100"
        :back-speed="20"
        :content-type="'null'"
      >
        <h1 class="typing"></h1>
      </vue-typed-js>

      <!-- Quotes -->
      <h2 class="quotes quotes-main">{{ quotes.quotes }}</h2>
      <h3 class="quotes author">{{ quotes.author }}</h3>
    </div>
  </div>
</template>

<script>
// Import quotes and variables
import quotesFile from '~/assets/quotes.js'
import variables from '~/assets/variables.js'

// Define greetings
const { greetings } = variables

// Get time
const now = new Date().getHours()

/*
 * Function random polyfill
 * Usage   : random(["this", "is", "an", "array"]);
 * Output  : randomize array values
 */
/* eslint-disable no-unused-vars */
function random(arr) {
  return arr[Math.floor(Math.random() * arr.length)]
}

export default {
  transition: 'slide-x-transition',
  data() {
    return {
      // prettier-ignore
      nicknames: this.random(variables.nicknames), // random the nicknames (from variables.js)
      quotes: this.random(quotesFile), // random the quotes (from variables.js)
      greetings() {
        // If right now is equals to or greater than 18 (6pm), show evening greeting
        if (now >= 18) return greetings.evening

        // If right now is equals to or greater than 15 (3pm), show afternoon greeting
        if (now >= 15) return greetings.afternoon

        // If right now is equals to or greater than 11 (11am), show day greeting
        if (now >= 11) return greetings.day

        // If right now is equals to or greater than 5 (5am), show morning greeting
        if (now >= 5) return greetings.morning

        // If right now is equals to or greater than 0 (12am), show sleep greeting
        if (now >= 0) return greetings.night
      },
      darkMode() {
        // If right now is equals to or greater than 18 (6pm), turn on darkmode
        if (now >= 18) return true

        // If right now is equals to or greater than 15 (3pm), turn on daymode
        if (now >= 15) return false

        // If right now is equals to or greater than 11 (11am), turn on daymode
        if (now >= 11) return false

        // If right now is equals to or greater than 5 (5am), turn on daymode
        if (now >= 5) return false

        // If right now is equals to or greater than 0 (12am), turn on darkmode
        if (now >= 0) return true
      },
    }
  },
  methods: {
    /* server side methods */
    // Randomize array element
    random(arr) {
      return arr[Math.floor(Math.random() * arr.length)]
    },
  },
}
</script>

<style lang="scss">
@import '~/assets/css/background.scss';
@import '~/assets/css/main.scss';
</style>
